[Unit]
Description=GNSS-disciplined oscillator
Requires=ozonedto.service gpsd.service
After=ozonedto.service gpsd.service

[Service]
Type=simple
ExecStart=/usr/bin/screen -D -m -S gnssdo /home/ozone/mosaic/gnssdo/gnssdo
User=ozone

