[Unit]
Description=GNSS-disciplined oscillator
Requires=ozonedto.service gpsd.service
After=ozonedto.service gpsd.service

[Service]
Type=simple
ExecStart=/home/ozone/mosaic/gnssdo/gnssdo
WorkingDirectory=/home/ozone/mosaic/gnssdo
User=ozone
Restart=always
RestartSec=10


